apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  labels:
    app: chat-service
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      name: chat-service
      labels:
        app: chat-service
    spec:
      containers:
        - name: chat
          image: jihei1/chat
          ports:
            - containerPort: 8090
          envFrom:
            - configMapRef:
                name: chat-configmap
            - secretRef:
                name: chat-secret
