apiVersion: v1

kind: Service

# name : 서비스 이름. 클러스터 내부에서 DNS로도 활용됨. (http://cart-service:8081)
metadata:
  name: commerce-service

# selector : service가 어떤 Pod에게 트래픽을 보낼지 지정하는 라벨 조건.
# deployment의 pod template에 다음 라벨이 존재해야 매칭됨.
# 즉 Deployment가 Pod를 만든다.
# Service는 라벨을 기준으로 Pod를 찾는다.
# 그 Pod들에 그래픽을 전달한다.
spec:
  selector:
    app: commerce-service

# Service가 외부(클러스터 내부)로 노출하는 포트
# targetPort : Service가 실제로 Pod의 어떤 포트로 연결할지 Pod 컨테이너 내부에서 열려 있는 포트와 대응해야 함.
# -> deployment에서 containerPort: 8081 이 있어야 동작.
# port : 다른 Pod들은 이 포트로 접근한다.
  ports:
    - targetPort: 8081
      port: 8081