apiVersion: apps/v1

kind: Deployment

metadata:
  name: product-service
  labels:
    app: product-service

spec:
  replicas: 1

  strategy:
    type: RollingUpdate

  selector:
    matchLabels:
      app: product-service

  template:
    metadata:
      name: product-service
      labels:
        app: product-service

    spec:
      containers:
        - name: product
          image: jihei1/product:latest
          ports:
            - containerPort: 8086
