apiVersion: apps/v1

kind: Deployment

metadata:
  name: user-service
  labels:
    app: user-service

spec:
  replicas: 1

  strategy:
    type: RollingUpdate

  selector:
    matchLabels:
      app: user-service

  template:
    metadata:
      name: user-service
      labels:
        app: user-service

    spec:
      containers:
        - name: user
          image: jihei1/user
          ports:
            - containerPort: 18080

          envFrom:
            - configMapRef:
                name: user-configmap
            - secretRef:
                name: user-secret