HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Custom ###
dbay-db.mv.db
dbay-db.trace.db
.env
env.properties
docker/maria-data
docker/mysql-data
docker/product-mysql-data
docker/image-mysql-data
spy.log
/logs
.jar
/k8s/exec/config/**/*secret.yml
/k8s/exec/config/**/*-secret.yml
*secret.yml

.gradle-cache/

.DS_Store
