apiVersion: apps/v1

kind: Deployment

metadata:
  name: gateway
  labels:
    app: gateway

spec:
  replicas: 1

  strategy:
    type: RollingUpdate

  selector:
    matchLabels:
      app: gateway

  template:
    metadata:
      name: gateway
      labels:
        app: gateway

    spec:
      containers:
        - name: gateway
          image: jihei1/gateway:latest
          ports:
            - containerPort: 8000
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "deploy"
            - name: JWT_SECRET_KEY
              value: "BBpgN9RJg1nYobpf7KHfJUaoiWSO-gD9EiEApPkV1rWJmH0vAVjMT2Pn-MtaaeElM7GFN88aQFl7d9adK_hB9w"
