apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: npm-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: npm-letsencrypt-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:



      storage: 1Gi