spring:
  datasource:
    url: jdbc:postgres://localhost:3306/dbay_cart?serverTimezone=Asia/Seoul
    driver-class-name: org.postgresql.Driver
    username: root
    password: root1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 500
        format_sql: true