apiVersion: v1

kind: ConfigMap

metadata:
  name: prometheus-config

data:
  prometheus.yml: |
    global:
      scrape_interval: "1m"
      evaluation_interval: "1m"

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'accounts-service'
        scrape_interval: 15s
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['sa-accounts-service.default.svc.cluster.local:8080']

      - job_name: 'demo-service'
        scrape_interval: 15s
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['sa-demo-service.default.svc.cluster.local:8080']
