<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

<script>
    main();

    async function main() {
        const button = document.getElementById("payment-button");
        // ------  결제위젯 초기화 ------
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const customerKey = `[[${userCode}]]`;
        const widgets = tossPayments.widgets({
            customerKey,
        });

        // ------ 주문의 결제 금액 설정 ------
        await widgets.setAmount({
            currency: "KRW",
            value: 10000,
        });

        await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
                selector: "#payment-method",
                variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
        ]);


        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
            await widgets.requestPayment({
                orderId: "wQohkau2NVbdjIzxTLoQb",
                orderName: "예치금 충전",
                successUrl: window.location.origin + "/view/payments/success?userCode=[[${userCode}]]",
                failUrl: window.location.origin + "/view/payments/fail",
            });
        });
    }
</script>
</body>
</html>