apiVersion: apps/v1

kind: Deployment

metadata:
  name: db-mysql
  labels:
    app: db-mysql

spec:

  selector:
    matchLabels:
      app: db-mysql

  template:
    metadata:
      name: db-mysql
      labels:
        app: db-mysql

    spec:
      containers:
        - name: mysql
          image: mysql
          ports:
            - containerPort: 3306
          envFrom:
            - configMapRef:
                name: mysql-configmap