name: dev-msa ci/cd

on:
#  pull_request:
#    todo : 우선 main으로 세팅하고 dev-msa로 교체
#    branches: [dev-msa]
#    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  attestations: write
  id-token: write

jobs:

  # releasing step
  releasing_eureka:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: eureka-server
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: eureka-server

  releasing_gateway:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: gateway
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: gateway

  releasing_product:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: product
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: product

  releasing_payments:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: payments
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: payments

  releasing_user:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: user-service
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: user

  releasing_commerce:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: commerce
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: commerce

  #   deploying step
  deploying_eureka:
#    needs: [releasing_gateway, deploying_eureka]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: eureka
      image-tag: ${{ needs.releasing_eureka.outputs.tag_name }}

  deploying_gateway:
#    needs: [releasing_gateway, deploying_eureka]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: gateway
      image-tag: ${{ needs.releasing_gateway.outputs.tag_name }}

  deploying_product:
#    needs: [releasing_product, deploying_gateway]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: product-service
      image-tag: ${{ needs.releasing_product.outputs.tag_name }}

  deploying_payments:
#    needs: [releasing_payments, deploying_product]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: payments-service
      image-tag: ${{ needs.releasing_payments.outputs.tag_name }}

  deploying_user:
#    needs: [releasing_user, deploying_payments]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: user-service
      image-tag: ${{ needs.releasing_user.outputs.tag_name }}

  deploying_commerce:
#    needs: [releasing_commerce, deploying_user]
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    concurrency:
      group: k8s-deployment
      cancel-in-progress: false
    with:
      service-name: commerce-service
      image-tag: ${{ needs.releasing_commerce.outputs.tag_name }}
