name: dev-msa ci/cd

on:
#  pull_request:
#    todo : 우선 main으로 세팅하고 dev-msa로 교체
#    branches: [dev-msa]
#    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  attestations: write
  id-token: write

jobs:

  # releasing step
  releasing_eureka:
    uses: ./.github/workflows/releasing-workflow.yml
    secrets: inherit
    with:
      service-name: eureka-server
      service-dir: .
      file-name: docker/Dockerfile-common
      app-dir: eureka-server

#  releasing_gateway:
#    uses: ./.github/workflows/releasing-workflow.yml
#    secrets: inherit
#    with:
#      service-name: gateway
#      service-dir: ./gateway
#      file-name: ../docker/Dockerfile-common
#
#  releasing_product:
#    uses: ./.github/workflows/releasing-workflow.yml
#    secrets: inherit
#    with:
#      service-name: product
#      service-dir: ./product
#      file-name: ../docker/Dockerfile-common
#
#  releasing_payments:
#    uses: ./.github/workflows/releasing-workflow.yml
#    secrets: inherit
#    with:
#      service-name: payments
#      service-dir: ./payments
#      file-name: ../docker/Dockerfile-common
#
#  releasing_user:
#    uses: ./.github/workflows/releasing-workflow.yml
#    secrets: inherit
#    with:
#      service-name: user
#      service-dir: ./user
#      file-name: ../docker/Dockerfile-common
#
#  releasing_commerce:
#    uses: ./.github/workflows/releasing-workflow.yml
#    secrets: inherit
#    with:
#      service-name: commerce
#      service-dir: ./commerce
#      file-name: ../docker/Dockerfile-common

  # deploying step
#  deploying_eureka:
#    needs: releasing_eureka
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: eureka-server
#      image-tag: ${{ needs.releasing_eureka.outputs.tag_name }}
#
#  deploying_gateway:
#    needs: releasing_gateway
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: gateway
#      image-tag: ${{ needs.releasing_gateway.outputs.tag_name }}
#
#  deploying_product:
#    needs: releasing_product
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: product
#      image-tag: ${{ needs.releasing_product.outputs.tag_name }}
#
#  deploying_payments:
#    needs: releasing_payments
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: payments
#      image-tag: ${{ needs.releasing_payments.outputs.tag_name }}
#
#  deploying_user:
#    needs: releasing_user
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: user
#      image-tag: ${{ needs.releasing_user.outputs.tag_name }}
#
#  deploying_commerce:
#    needs: releasing_commerce
#    uses: ./.github/workflows/deploy-workflow.yml
#    secrets: inherit
#    with:
#      service-name: commerce
#      image-tag: ${{ needs.releasing_commerce.outputs.tag_name }}
